// === FONT-WEIGHT === //

$font-weight-main: 400;

// === FONT-SIZE === //

$font-size-xxl: 48px;

// === LINE_HEIGHTS === //

$line-height-main-xxl: 56.25px;

// === COLORS === //

$MainFont: #FFFFFF;
$Background: #161616;

// === width === //

$width-full: 100%;

// === margin === //

$margin-gap: 32px;