// === FONT-WEIGHT === //

$font-weight-main: 400;
$font-weight-xl: 500;

// === FONT-SIZE === //

$font-main: 16px;
$font-size-xxl: 24px;

// === LINE_HEIGHTS === //

$line-height-main-xxl: 56.25px;

// === COLORS === //

$MainFont: #FFFFFF;
$Background: #161616;

// === width-height === //

$width-full: 100%;
$width-btn: 90%;

$button-height: 48px;

// === margin === //

$margin-gap: 32px;

// === border === //

$border-radius-main: 8px;